{% extends 'base.html' %}

    {% block header %}
    <h2>Form to registration</h2>
    {% endblock %}

{% block urls %}
    <div>
        <a href="{% url 'main' %}">main</a>
    <br>
        <a href="{% url 'about' %}">about</a>
    <br>
        <a href="{% url 'login' %}">login</a>
    <br>
        <a href="{% url 'blog_detail' %}">blog detail</a>
    <br>
        <a href="{% url 'profile' %}">profile</a>
    </div>
{% endblock %}

    {% block content %}
        <div>
        info
        </div>
    {% endblock %}


