{% extends 'base.html' %}

    {% block header %}
    <h2>Users profile</h2>
    {% endblock %}


{% block urls %}
    <div>
        <a href="{% url 'main' %}">main</a>
    <br>
        <a href="{% url 'about' %}">about</a>
    <br>
        <a href="{% url 'login' %}">login</a>
    <br>
        <a href="{% url 'blog_detail' %}">blog detail</a>
    <br>
        <a href="{% url 'register' %}">register new user</a>
    </div>
{% endblock %}

    {% block content %}
        <div>
        Users info
        </div>
    {% endblock %}
