<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stories blog</title>
</head>
<body style="background-color:antiquewhite">
    <div>
        <h1 style="color:orangered">The best blog of stories</h1>
    </div>

    <div>
    {% block header %}
    {% endblock %}
    </div>

    <div>
    {% block urls %}
    {% endblock %}
    </div>

    <div>
        {% block login %}
          {% if user.is_authenticated %}
              <h4>Hello {{ user.username }}</h4>
              <form action="{% url 'logout' %}">
                  <button type="submit">Logout</button>
              </form>
          {% else %}
          You are not logged in
          {% endif %}
          <br>

        {% endblock %}
    </div>

    <div>
        {% block topic %}
        {% endblock %}
    </div>

    <div>
    {% block content %}
    {% endblock %}
    </div>

</body>
</html>
